.search {
    border: 0;
    outline: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
}

.header {
    padding: 25px 20px;
}

.thead {
    font-size: 15px;
    text-align: center;
    color: #464F60;
    background: #EBF0FA;
    font-weight: 600;
}

.thead th {
    padding: 12px 20px;
}



.tbody {

    text-align: center;
    color: #464F60;
}

.tbody td {
    padding: 15px 20px;
    font-size: 15px;
}

.tbody tr:nth-child(even) {
    background-color: #ebf0fa;

}

.tbody tr:hover {
    background-color: #ddd;
}

.add {
    background: #2264E6;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 20px;
    border: 0;
    color: white;
    padding: 6px 12px;
}

.status {
    width: 110px;
    font-size: 14px;
    padding: 6px 12px;
}

.editBtn,
.deleteBtn {
    border: 0;
    background-color: transparent;
}

.description {
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}


.id,
.name {
    font-weight: bold;
}

.open {
    color: #4F5AED;
    padding: 1px 10px;
    border-radius: 10px;
    background: #a4a7d6;
}

.error {
    color: #D12953;
    padding: 1px 10px;
    border-radius: 10px;
    background: #e7c7cf;
}

.success {
    color: #14804A;
    padding: 1px 10px;
    border-radius: 10px;
    background: #c3d8ce;

}

.inactive {
    color: #5A6376;
    padding: 1px 10px;
    border-radius: 10px;
    background: #d5dff7;
}

.green {
    color: #14804A;
}

.red {
    color: #D12953;
}